Source: ros-kinetic-smach-ros
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rostest
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-smach-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-rospy, ros-kinetic-rostopic, ros-kinetic-smach, ros-kinetic-smach-msgs, ros-kinetic-std-msgs, ros-kinetic-std-srvs
Description: The smach_ros package contains extensions for the SMACH library to integrate it tightly with ROS.
 For example, SMACH-ROS can call ROS services, listen to ROS topics, and integrate with actionlib both as a client, and a provider of action servers. SMACH is a new library that takes advantage of very old concepts in order to quickly create robust robot behavior with maintainable and modular code.
